{% extends "base.html" %}

{% block content %}
<header>
    <h1>Alerts</h1>
</header>
<section>
    <div class="list-group">
        {% for alert in alerts %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{ alert.name }}</h4>
            <p>
                <a href="{{ alert.item.url }}">{{ alert.item.url }}</a> (last price £{{ alert.item.price }})
            </p>
            <a class="btn btn-secondary" href="{{ url_for('alerts.edit_alert', alert_id=alert._id) }}">
                Edit
            </a>
            <a class="btn btn-danger mt-3" href="{{ url_for('alerts.delete_alert', alert_id=alert._id) }}">
                Permanently Delete Alert
            </a>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary mt-3" href="{{ url_for('alerts.create_alert') }}">
        Create new
    </a>
</section>
{% endblock %}