{% extends "base.html" %}

{% block content %}
<header>
    <h1>Stores</h1>
</header>
<section>
    <div class="list-group">
        {% for store in stores %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{ store.name }}</h4>
            <p >
                
                For URLs starting with {{ store.url_prefix }}.
            </p>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary mt-3" href="{{ url_for('stores.create_store') }}">
        Create new
    </a>
</section>
{% endblock %}