{% extends "base.html" %}

{% block content %}
<header>
    <h1>Alerts</h1>
</header>
<section>
    <div class="list-group">
        {% for alert in alerts %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Alert</h4>
            <p >
                <a href="{{ alert.item.url }}">{{ alert.item_id }}</a>
            </p>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary mt-3" href="{{ url_for('alerts.create_alert') }}">
        Create new
    </a>
</section>
{% endblock %}