[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
beautifulsoup4 = "*"
requests = "*"
passlib = "*"
Flask = "*"
Jinja2 = ">=2.10.1"
uWSGI = "*"
python-dotenv = "*"
urllib3 = ">=1.24.2"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
