{% extends "base.html" %}
{% block content %}
<header>
    <h1>Edit Store</h1>
</header>
<section class="create-store-form">
    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="John Lewis" value="{{ store.name }}">
        </div>
        <div class="form-group">
            <label for="url_prefix">URL Prefix</label>
            <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="https://..."
                value="{{ store.url_prefix }}" aria-describedby="urlPrefixHelp">
            <small id="urlPrefixHelp" class="form-text text-muted">
                What URL will all its items start with?
            </small>
        </div>
        <div class="form-group">
            <label for="tag_name">HTML Tag Name</label>
            <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="span"
                value="{{ store.tag_name }}" aria-describedby="priceLimitHelp">
            <small id="priceLimitHelp" class="form-text text-muted">
                What HTML tag contains the price information for items in this store?
            </small>
        </div>
        <div class="form-group">
            <label for="query">HTML Query</label>
            <input type="text" class="form-control" id="query" name="query" placeholder='{"class": "price price--large"}'
                value="{{ store.query }}" aria-describedby="queryHelp">
            <small id="queryHelp" class="form-text text-muted">
                What attributes are on the element that contain the price? This is so we can find it on the page.
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</section>
{% endblock %}