{% extends "base.html" %}

{% block content %}
<header>
    <h1>Items</h1>
</header>
<section>
    <div class="list-group">
        {% for item in items %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Item</h4>
            <p >
                <a href="{{item.url}}">{{ item.url }}</a>
            </p>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary mt-3" href="{{ url_for('items.create_item') }}">
        Create new
    </a>
</section>
{% endblock %}