{% extends "base.html" %}
{% block content %}
<header>
    <h1>Create Alert</h1>
</header>
<section class="create-alert-form">
    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Surface Pro 6">
        </div>
        <div class="form-group">
            <label for="item_url">Item URL</label>
            <input type="text" class="form-control" id="item_url" name="item_url" placeholder="https://..."
                aria-describedby="itemURLHelp">
            <small id="itemURLHelp" class="form-text text-muted">
                What is the URL of the element you wish to make an alert for?
            </small>
        </div>
        <div class="form-group">
            <label for="price_limit">Price limit</label>
            <input type="text" class="form-control" id="price_limit" name="price_limit" placeholder="120"
                aria-describedby="priceLimitHelp">
            <small id="priceLimitHelp" class="form-text text-muted">
                Under which price for the item would you like to get notified?
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</section>
{% endblock %}